body {
    background: #000;
    margin: 0;
    font-family: Arial, sans-serif;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #171717;
    position: fixed; /* Make the header fixed */
    width: 100%; /* Ensure the header spans the full width */
    top: 0; /* Position it at the top */
    z-index: 1000; /* Ensure it stays above other elements */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    max-width: 100%; /* Ensure the header fits the screen */
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    height: 40px;
    margin-right: 10px;
}

.logo-container span {
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff; /* Changed to white */
}

.button-container button {
    display: flex;
    align-items: center;
    background-color: transparent; /* Make the button empty inside */
    color: #ffffff; /* Text color */
    border: 2px solid #823DC1; /* Border color */
    padding: 5px 20px; /* Reduced height and increased width */
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.button-container button img {
    margin-right: 3px; /* Adjusted margin */
    height: 10px; /* Reduced height */
    width: 20px; /* Increased width */
    transform: scaleX(-1); /* Flip horizontally */
}

.button-container button:hover {
    background-color: #823DC1;
    color: #fff; /* Change text color on hover */
}

.profile {
    position: absolute;
    top: 100px;
    left: 100px;
    display: flex;
    align-items: center;
    gap: 5px; /* Space between arrow and text */
    color: grey;
    font-size: 22px; /* Small text size */
}

.profile img {
    color: grey;
    transform: scale(-1);
    height: 30px; /* Small icon size */
}

.profile h4 {
    margin: 0;
    font-size: inherit;
    font-weight: normal;
    color: inherit;
}